@import "../Theme";

// Cog wheel settings menu
.add-mixtape{
  position: absolute;
  left: 10px;
  top: 69px;
  background: var(--lightbox-back);
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
  border: 1px solid var(--border-primary);
  z-index: 20;
  width: 206px;

  .uploader{
    width:100%;
    .add-mixtape-title{
      border-bottom: 1px solid var(--border-primary);
      width:100%;
    }
  }
  .add-mixtape-options{
    color: var(--text-data-title);
    width: 100%;
    display: flex;

    .option{
      color: var(--text-data-title);
      width:50%;
      text-align: center;
      font-size:13px;
      padding:2px;
    }
    .option:last-child{
      border-left: 1px solid var(--border-primary);
    }
  }
}

