// Cog wheel settings menu
.overlay{
  position:fixed;
  top:0;
  width:100%;
  height:100%;
  z-index: 15;
  background: var(--lightbox-back);
  -webkit-backdrop-filter: blur(14px);
  backdrop-filter: blur(14px);

  .edit-mixtape{
    position: absolute;
    background: var(--background-lightbox);
    border: 1px solid var(--border-primary);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
    height: 50px;
    width: 500px;

    .editor{
      background: var(--background-lightbox);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      position: relative;
      border: 1px solid var(--border-primary);

      .add-mixtape-title{
        background: var(--background-lightbox);
        border-bottom: 1px solid var(--border-primary);
        width:100%;
      }
    }
    .add-mixtape-options{
      background: var(--background-lightbox);
      color: var(--text-data-title);
      width: 100%;
      display: flex;

      .option{
        background: var(--background-lightbox);
        color: var(--text-data-title);
        width:50%;
        text-align: center;
        font-size:13px;
        padding:2px;
      }
      .option:last-child{
        border-left: 1px solid var(--border-primary);
      }
      .option:first-child{
        border-right: 1px solid var(--border-primary);
      }
    }
  }
}

