@import "../Theme";

// Cog wheel settings menu
.settings{
  position: absolute;
  left: 161px;
  top: -4px;

  .set-btn{
    background: var(--lightbox-back);
    backdrop-filter: blur(20px);
    margin-right:var(--box-margin);
    height:27px;
    padding: var(--box-margin);
    width:150px;
    border: $tableBorder;
    position: absolute;
    right: 4px;
    top: 60px;
    z-index: 15;
    color: var(--text-data-title);
  }
  #set-btn-2{
    top:60px;
  }
  #set-btn-3{
    border-top:0;
    top:87px;
  }

  // Slider toggle for cgb sizing
  .vue-slider-dot-handle {
      cursor: pointer;
      width: 100%;
      height: 100%;
      border-radius: 0!important;
      background-color: transparent!important;
      box-sizing: border-box;
      box-shadow: none!important;
  }
  .vue-slider-dot-handle-focus {
      cursor: pointer;
      width: 100%;
      height: 100%;
      border-radius: 0!important;
      background-color: transparent!important;
      box-sizing: border-box;
      box-shadow: none!important;
  }
  .vue-slider-rail {
      background-color: var(--border-card);
      border-radius: 15px;
  }
  .slide{
    margin-right:var(--box-margin);
    height:27px;
    padding: var(--box-margin);
    width:150px;
    border: $tableBorder;
    border-bottom:0;
    position: absolute;
    right: 4px;
    top: 33px;
    z-index: 15;
    background: var(--lightbox-back);
    backdrop-filter: blur(20px);

    .vue-slider-process {
        background-color: var(--text-header);
        border-radius: 15px;
    }
  }
}

