
@import "../Theme";
.three{
  width:calc(100% - var(--size-margin));
  max-width:calc(100% - var(--size-margin));
  margin: var(--box-margin);
  border: $tableBorder;
  overflow:hidden;

  height:80px!important;
  canvas {
    width: 450px!important;
    max-height: 80px;
    height:80px!important;
  }
}

.forceGraph{
  height:148px;
  width:calc( 100% - var(--size-margin));
  margin: var(--box-margin);
  margin-left: calc(var(--box-margin));
  margin-bottom: 0;
  margin-top:0;
  border: $tableBorder;
  overflow:hidden;

  .fg{
    max-width:100%!important;
    max-height:100%!important;
    opacity:.8;
  }
 }
 .scene-container{
   width:201px!important;
   height:145px!important;
   canvas{
   width:201px!important;
   height:145px!important;
   }
 }

