@import "../Theme";

.three{
  flex: 0 1 35px;
  width:calc(100% - var(--size-margin));
  max-width:calc(100% - var(--size-margin));
  margin: var(--box-margin);
  margin-bottom:0;
  border: $tableBorder;

  canvas {
    width: 450px!important;
    max-height: 35px;
    height:80px!important;
  }
}

.forceGraph{
  padding:5px;
  flex: 0 1 125px;
  width:calc( 100% - var(--size-margin));
  margin: var(--box-margin);
  margin-left: calc(var(--box-margin));
  margin-bottom: 1px;
  margin-top:0px;
  border: $tableBorder;

  .fg{
    max-width:100%!important;
    max-height:100%!important;
    opacity:.8;

    .scene-container{
      max-width:100%!important;
      width:100%!important;
      height:125px!important;

      canvas{
        max-width:100%!important;
        width:100%!important;
        height:125px!important;
      }
    }
  }
}
