
@import "../Theme";
.three{
  width:calc(100% - var(--size-margin));
  max-width:calc(100% - var(--size-margin));
  margin: var(--box-margin);
  border: $tableBorder;
  overflow:hidden;

  height:80px!important;
  canvas {
    width: 450px!important;
    max-height: 80px;
    height:80px!important;
  }
}

.forceGraph{
  height:148px;
  width:calc( 100% - var(--size-margin));
  margin: var(--box-margin);
  margin-left: calc(var(--box-margin));
  margin-bottom: 0;
  margin-top:0;
  border: $tableBorder;

  div{
  position:inherit;
  }
  .scene-container {
    max-width:calc(100%)!important;
    width:100%;
  }
  canvas{
    max-height:100%!important;
    max-width:100%!important;
  }
}
.fg{
  height:calc(100%);
  *{
    height:calc(100%);
  }
  .scene-tooltip{
    height:0px!important;
  }
  .scene-nav-info{
    height:0px!important;
  }
}
div.fg div:first-child{
  max-height:100%!important;
  .scene-container{
    max-height:100%;
  }
}

