@import "../Theme";

.mixtape-pane{
  margin: var(--box-margin);
  flex: 1 1 auto;
  overflow-y: auto;
}

.mixtapeView{
  height: calc(100% + 1px);
  margin-top: -4px;
  border: $tableBorder;

  .p-dataview-content{
    padding-top: 5px;
    padding-bottom: 4px;
    z-index: 10;
    position: sticky;
    background: var(--background-primary);
  }
  .p-dataview, .p-dataview-content{
    height: 100%;
    padding-top: 2px;
    z-index: 10;
    position: sticky;
    background: var(--background-primary);

    .grid{
      position: relative;
      z-index: 5;
      max-height: calc(100% );
      overflow-y: auto;
      display: flex;
      flex-wrap: wrap;
    }
  }
}

// Mixtape card
.dgb-mixtape{
  background: var(--background-tilt);
  backdrop-filter: blur(5px);
  cursor: pointer;
  padding-bottom: 1px;
  padding-left: 1px;
  border: 1px solid var(--border-primary);
  width: 100%;
  min-width: 90px;
  margin: 2px;
  margin-top: 0;

  .descr{
    opacity: 0.50;
    font-size: 13px;
  }
  .title{
    float: left;
    width: 78%;
    font-size: 16px;
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
  }
}
.dgb-0:last-child{
  margin-bottom: 40px;
}
