.tabs{
  display: flex;
  justify-content: space-between;
  position: relative;
  min-height: 4px;
  height: -moz-fit-content;
  height: fit-content;

  .tabs-l{
    display: flex;
    width: calc(100% - 29px);

    .tab {
      margin-left: var(--box-margin);
    }
  }
  .tabs-r{
    display: flex;
    justify-content: flex-end;
    margin-right: 4px;

    .tab {
      margin-right: var(--box-margin);
      right: 0;
    }
  }
}
.tabs-content{
  width:calc(100% - 4px)!important;
  flex: none;
  min-height: 4px;
  height: fit-content;
}
.tab {
  text-align: center;
  cursor: pointer;
  height: 27px;
  opacity: 0.71;
  z-index: 0;
  border: 1px solid var(--border-primary);
  color: var(--text-header);
  letter-spacing: -0.33px;
}
.tab-active{
  opacity: 1!important;
  z-index: 5!important;
  background: var(--background-primary);
}

.tab-content-nav{
    padding-bottom: var(--edge-margin);
    height: calc(100% + 6px) !important;
    flex: 1;
    min-height: 0;
}

.tab-content-kernal{
  padding-bottom: var(--edge-margin);
  height: calc(100% + 6px) !important;
  margin-right: var(--edge-margin);
  flex: 1;
}

// Current Search and Mixtape info/close
.current-dir{
  max-width: calc(100% - 35px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
    padding: 1px;
    padding-bottom: 0;
}


.tab-icon {
  height: calc(100% - 4px);
  width: 100%;
}

.tab-width-standard {
  width: 25px;
  padding-top:2px;
}

.advanced-tabs{
  margin-bottom: var(--edge-margin);
}
.advanced-pane{
    min-height: 6px;
        margin-top: var(--edge-margin);
    margin-bottom: -4px;
    border: 1px solid var(--border-primary);
    margin-right: var(--edge-margin);
    margin-left: var(--edge-margin);
    flex: none;
}

.advanced-pane-inner{
  height: 100%;
  width: 100%;
  background: var(--background-primary);
  z-index: 19;
  position: relative;
}

.tab-content-bg{
    background: #000000;
    width: 100%;
    position: absolute;
    z-index: 6;
    height: 100%;
}

.btn-expand{
  height: 30px;
  width: 98px;
  right: -43px;
  position: absolute;
  top: -15px;
  z-index: 20;
}
.btn-expand-icon{
  height: 100%;
  width: 100%;
}
.btn-expanded-icon{
  transform: rotate(179deg);
}

