.tabs{
  display: flex;
  justify-content: space-between;
  position: relative;

  .tabs-l{
    display: flex;
    width: calc(100% - 29px);

    .tab {
      margin-left: var(--box-margin);
    }
  }
  .tabs-r{
    display: flex;
    justify-content: flex-end;
    margin-right: 2px;

    .tab {
      margin-right: var(--box-margin);
      right: 0;
    }
  }
}
.tabs-content{
  margin-top:4px;
  width:calc(100% - 4px)!important;
}
.tab {
  text-align: center;
  cursor: pointer;
  height: 30px;
  opacity: 0.71;
  font-size:20px;
  z-index: 0;
  padding: var(--box-margin);
  border: 1px solid var(--border-primary);
  color: var(--text-header);
}
.tab-active{
  opacity: 1!important;
  z-index: 5!important;
  background: var(--background-primary);
}

.tab-content-mixtape{
  height: calc(100% - 27px);
}

.tab-content-kernal{
  height: calc(100% - 26px);
}


// Add button specific
.tab-add{
  min-width: 25px;
}

// Current Search and Mixtape info/close
.current-dir{
  max-width: calc(100% - 35px);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  font-size:18px;
}





