@import "../Theme";

.contentView{
  width: 100%;
  margin-right:var(--edge-margin);
  min-height: 100%;

  .p-dataview-content{
    z-index: 10;
    position: sticky;
    background: var(--background-primary);
    width: 100%;
    min-height: 10px; // this causes tabs to overlap correctly, strange that 100% does not work

    .grid{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: var(--box-margin);
      align-content: flex-start;
      background: var(--background-primary);
      z-index: 10!important;
      position: relative;
      justify-content: flex-end;
      align-items: flex-end;
      margin-right: 5px;

    }
  }
}

// Content card
.cgb-0{
  margin-top: var(--box-margin);
  margin-right:calc(var(--box-margin));
  border: $cardBorder;
  height: fit-content;

  .cgb-0-txt{
    padding: var(--box-margin);
    width: 100%;
    height: 100%;
    min-height: 60px;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: pre-wrap;
  }

  .vue-load-image{
    .thumbnail {
      width: 100%;
      max-height: inherit;
      object-fit: contain;
    }
    .loading{
      height: 146.741px;
    }
  }

  .cgb-0-info{
    border-top: $cardBorder;
    color: var(--text-content-descr);
    max-width: 100%;
    overflow: hidden;
    height: fit-content!important;
    padding: 2px;
    white-space: nowrap;
    opacity: 0.8;
  }
}




.tab-content-kernal{
  [data-overlayscrollbars=host], [data-overlayscrollbars=viewport] {
    height:calc(100% - 2px)!important;
    border: $tableBorder!important;
    margin-top: -4px;
  }
.os-scrollbar-vertical {
    border-left: $tableBorder!important;
}
}

[data-overlayscrollbars~=host], [data-overlayscrollbars~=viewport] {
  position: relative;
  overflow: scroll;
}

[data-overlayscrollbars-viewport]{
    position: relative;
    overflow: scroll;
    height: 100%!important;
    z-index:10;
}
.os-theme-dark {
  --os-handle-bg: #9eff2299!important;
}
.os-scrollbar .os-scrollbar-handle {
    border-radius: 0!important;
}
.os-scrollbar-vertical .os-scrollbar-handle {
    width: 2px!important;
    transition: none!important;
    right: 2px;
}

.os-scrollbar-vertical .os-scrollbar-handle {
    transition: none!important;
}
.os-scrollbar-vertical {
    width: 4px!important;
    height: 100%;
        z-index: 10;
}
.os-scrollbar-track {
    padding: 0 !important;
    width: 4px!important;
}
.os-scrollbar-vertical {
    padding: 0 !important;
}

