@import "../Theme";

.contentView{
  margin-top: -4px;
  border: $tableBorder;
  width: calc(100% - var(--box-margin) - 1px);
  height: calc(100% - var(--size-margin));

  .p-dataview-content{
    z-index: 10;
    position: sticky;
    background: var(--background-primary);
    height: 100%;
    width: 100%;

    .grid{
      display: flex;
      flex-wrap: wrap;
      margin-bottom: var(--box-margin);
      height: 100%;
      overflow-y: scroll;
      align-content: flex-start;
      background: var(--background-primary);
      z-index: 10!important;
      position: relative;
    }
  }
}

// Content card
.cgb-0{
  margin-top: var(--box-margin);
  margin-left:calc(var(--box-margin) + 1px);
  border: $cardBorder;
  height: fit-content;

  .cgb-0-txt{
    padding: var(--box-margin);
    width: 100%;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
    white-space: pre-wrap;
  }

  .vue-load-image{
    .thumbnail {
      width: 100%;
      max-height: inherit;
      object-fit: contain;
    }
    .loading{
      height: 146.741px;
    }
  }

  .cgb-0-info{
    border-top: $cardBorder;
    color: var(--text-content-descr);
    max-width: 100%;
    overflow: hidden;
    height: fit-content!important;
    padding: 2px;
    white-space: nowrap;
    opacity: 0.8;
  }
}

