@import "../Theme";

.mixtape-pane{
  margin: var(--box-margin);
  flex: 1 1 auto;
  overflow-y: hidden;
}

.src-url-subset-view{
  height: calc(100% + 1px);
  margin-top: -4px;
  border: $tableBorder;
  [data-overlayscrollbars~=host], [data-overlayscrollbars~=viewport] {
    height:100%;
  }
  .os-scrollbar-vertical {
    left: 0;
    border-right: $tableBorder!important;
    border-top: $tableBorder!important;
  }
.os-scrollbar-vertical .os-scrollbar-handle {
    width: 2px!important;
    transition: none!important;
    left: 1px;
}

  .p-dataview-content{
    padding-top: 5px;
    padding-bottom: 4px;
    z-index: 10;
    position: sticky;
    background: var(--background-primary);
  }
  .p-dataview, .p-dataview-content{
    height: 100%;
    padding-top: 2px;
    z-index: 10;
    position: sticky;
    background: var(--background-primary);

    .grid{
      position: relative;
      z-index: 5;
      max-height: calc(100% );
      display: flex;
      flex-wrap: wrap;
    }
  }
}

// Mixtape card
.dgb-src-url-subset{
  background: var(--background-tilt);
  backdrop-filter: blur(5px);
  cursor: pointer;
  padding-bottom: 1px;
  padding-left: 1px;
  border: 1px solid var(--border-primary);
  width: calc(100% - 8px);
  margin: 2px;
  margin-top: 0;
  margin-left: 6px;

  .descr{
    opacity: 0.50;
    letter-spacing: -0.33px;
  }
  .title{
    float: left;
    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    letter-spacing: -0.33px;
  }
}
.dgb-0:last-child{
  margin-bottom: 40px;
}
