
@import "./ThemeModes";
.three{
  max-width:calc(100%-1px)!important;
  border-bottom: $tableBorder;
  border-right: $tableBorder;
  height:250px!important;
  canvas {

  max-width:calc(100%)!important;
    max-height: 80px;
    height:80px!important;
  } 
}

