div{
.border-1 {
		border: $tableBorder!important;
}

input, textarea {
  background-color : var(--background-primary)!important;
}
  .xl\:col-4 {
    width:100px;
  }

.xl\:align-items-end {
  flex-direction: flex-end!important;
}
.contentView{
  border-top:1px solid var(--border-primary);
}
.p-4 {
    padding: 0rem !important;
  overflow:hidden;
}
.py-5 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}
.w-9 {
    width: 100% !important;
}
.p-2 {
    padding: 0rem !important;
}
.w-9 {
		border: $tableBorder!important;
}
.dataView{
  .p-paginator{
    display:flex!important;
    justify-content: flex-start;
  }
}

.p-dataview-grid{
  .xl\:col-4 {
  height:200px;
    width:100px;
  }
  justify-content: flex-end;
  align-content: flex-start;
.w-9 {
		border: $tableBorder!important;
   width: auto;
max-height: 150px;
object-fit: contain;

}

}
.grid {
  justify-content: flex-end;
  align-content: flex-start;
}
.xl\:w-10rem {
    width: 100% !important;
    max-width: 500px;
}
.p-dataview-list{

  .p-grid{
    width:calc(100% - 1px)!important;
    max-height:calc(100dvh - 39px)!important;
    overflow:scroll!important;
  .p-dataview-content{
  }
.col-12{

}

}
}
.p-dataview-grid{
  .p-grid{
    height:auto!important;
    width:calc(100% - 1px)!important;
    max-height:calc(100dvh - 40px)!important;
    overflow:scroll!important;
  .p-dataview-content{
  }
}
}



.mx-auto {
  margin:0px!important;
}
.test-6{
    width:100%;
		border-top: $tableBorder!important;
		border-left: $tableBorder!important;
}
.flex{
 row-gap:0px!important;
}
.file_path{
  overflow:ellipsis;
text-overflow: ellipsis;

white-space: nowrap;}
.created_at{
  overflow:ellipsis;
text-overflow: ellipsis;

white-space: nowrap;}
}
