.border-1 {
		border: $tableBorder!important;
}

input, textarea {
  background-color : var(--background-primary)!important;
}
@media screen and (min-width: 1220px) {
  .xl\:col-4 {
    width:100px;
  }
}
@media screen and (max-width:1220px) and (min-width: 800px) {
  .xl\:col-4 {
    width:100px;
  }
}
@media screen and (max-width: 800px) {
  .xl\:col-4 {
    width:25%;
  }
}

.p-4 {
    padding: 0rem !important;

overflow:hidden;
}
.py-5 {
    padding-top: 0rem !important;
    padding-bottom: 0rem !important;
}
.w-9 {
    width: 100% !important;
}
.p-2 {
    padding: 0rem !important;
}
.w-9 {
		border: $tableBorder!important;
}
.dataView{
  .p-paginator{
    display:flex!important;
    justify-content: flex-start;
  }
}
.grid {
justify-content: flex-end;
align-content: flex-start;
}
.xl\:w-10rem {
    width: 300px !important;
}
.p-dataview-list{
  .p-grid{
    max-width:500px!important;
    width:49vw!important;
    max-height:calc(100vh - 46px)!important;
    overflow:scroll!important;
  .p-dataview-content{
  }
}
}

.p-dataview-grid{
  .p-grid{
    max-width:calc(100vw - 600px)!important;
    width:calc(100vw)!important;
    height:calc(100vh - 16px)!important;
    max-height:calc(100vh - 46px)!important;
    overflow:scroll!important;
  .p-dataview-content{
  }
}
}

@media screen and (max-width: 1180px) and (min-width: 801px) {
.p-dataview-list{
  .p-grid{
    max-width:500px!important;
    width:49vw!important;
    max-height:calc(100vh - 46px)!important;
    overflow:scroll!important;
  .p-dataview-content{
  }
}
}

.p-dataview-grid{
  .p-grid{
    max-width:calc(49vw)!important;
    width:calc(49vw)!important;
    height:calc(100vh - 16px)!important;
    max-height:calc(100vh - 46px)!important;
    overflow:scroll!important;
  .p-dataview-content{
  }
}
}
}

@media screen and (max-width: 800px) {
.p-dataview-list{
  .p-grid{
    width:96vw!important;
    max-width:96vw!important;
    min-width:96!important;
    max-height:calc(100vh - 46px)!important;
    overflow:scroll!important;
  .p-dataview-content{
  }
}
}

.p-dataview-grid{
  .p-grid{
    min-width:97vw!important;
    height:calc(100vh - 16px)!important;
    max-height:calc(100vh - 46px)!important;
    overflow:scroll!important;
  .p-dataview-content{
  }
}
}
}


