@import "./ThemeModes";

@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}

.tab{
  position: absolute;
  z-index:3;
  width: 20px;
  background: rgb(40, 40, 40);
  font-size:16px;
  right:0;
  padding:4px;
  text-align: center;
  vertical-align: middle;
  height:90px;
  line-height: 90px; 
  clip-path: polygon(0% 22%, 100% 0, 100% 100%, 0% 78%);
  
  a{
    color:var(--link-visited);
  }
}
#tabInfo{
  margin: 0 auto;
  margin-right: var(--box-margin);
  margin-bottom: var(--box-margin);
  bottom: var(--box-margin);
}
#tabAdd{
  margin: 0 auto;
  margin-right: var(--box-margin);
  margin-bottom: var(--box-margin);
  bottom: calc(var(--box-margin) + 110px);
}

.contentView{
  height:calc(100% );
  width:calc(100%);


  .p-dataview{
    height:100%;
    width:100%;

    .p-dataview-header{
      height:18.72px;
      border-bottom: $tableBorder;

      .conten-head{
        display: flex;
        width:100%;
        .p-dataview-layout-options{
          width:auto;
        }

        .p-button-icon-only{
          border:0;
          background:none;
        }
        button{
          border:0;
          background:none;
        }
      }
    }

    .p-dataview-content{

      height:100%;
      width:100%;

      *::-webkit-scrollbar-track {
        box-shadow: inset 0 0 3px rgba(40,40,40,0.9);
        border-left: $cardBorder;
      }

      .grid{
        margin-left:1px;
        outline: $tableBorder;
        margin-top: var(--box-margin);
        margin-right: var(--box-margin);
        margin-bottom: var(--box-margin);
        padding: calc(var(--box-margin) / 2);
        width: calc(100% - var(--box-margin) - 2px);
        height:calc(100% - var(--size-margin));
        max-height:100%;
        overflow-y:scroll;
        justify-content: flex-start;
        align-content: flex-start;

       // list 
        .w-9{
          min-width: 100% !important;
        }
        .clb-0{
          margin: calc(var(--box-margin) / 2);
          width:100%;
          *{
            animation-name: example!important;
            animation-duration: .46s!important;
          }
            .clb-0-txt{
              width: 100%;
              overflow-y:hidden;
              overflow-x:hidden;
            }

            .clb-0-img {
              width: 100%;
              object-fit: contain;
              z-index: 0;
            }
        }

        // grid
        .cgb-0{
          margin:calc(var(--box-margin) / 2);

          *{
            animation-name: example!important;
            animation-duration: .16s!important;
          }
          .cgb-loading{
            outline: $cardBorder;
            
            .cgb-0-txt{
              width: 100%;
              overflow-y:hidden;
              overflow-x:hidden;
              white-space: pre-wrap;
            }
            .cgb-0-img {
              width: 100%;
              z-index: 0;
            }
            .cgb-0-info{
              width: 100%;
              border-top: $cardBorder;
              overflow:hidden;
              white-space: nowrap;
            }

          }
          .cgb-loaded{
            position:relative;
            border-collapse: collapse;
            animation-duration: 0s!important;
            outline: $cardBorder;
              *::-webkit-scrollbar-track {
                box-shadow: inset 0 0 3px rgba(40,40,40,0.9);
                border:0;
                border-left: $cardBorder;
              }
            .cgb-0-txt{
              padding: var(--box-margin);
              font-size: 14px;
              width: calc(100% - 10px);
              height: calc(100% - 10px);
              overflow-y:hidden;
              overflow-x:hidden;
              white-space: pre-wrap;
              a{
              color:var(--text-descr);
            }
            }

            .cgb-0-img {
              width: 100%;
              object-fit: contain;
              z-index: 0;
            }

            .cgb-0-info{
              border-top: $cardBorder;
              overflow:hidden;
              white-space: nowrap;
              .file_path{
                color:var(--text-descr);
                font-size:12px!important;
                max-width:100%;
                text-align:center;
                overflow:hidden;
                  margin: 0 auto;
            }
            }
          }
        }
      }
    }
  }
}
