@import "./ThemeModes";

.lightbox{
  position:absolute!important;
  width:100%;
  pointer-events: none; 
  background: none !important;
  height: 100%;

  .resizable-component{
    pointer-events:auto;
    padding: 0;
    border: 1px solid var(--border-primary);
    background: var(--background-primary);
    font-weight: normal;
    z-index:2!important;

    .block {
      position:relative;
      z-index:2!important;
      width:100%;
      height:100%;
      max-width: 100%;
      max-height: 100%;

      .pdf{
        position:relative;
        width:100%;
        height:100%;
        max-height: calc(100% - 32px);
        white-space: pre-wrap;
      }

      .uploader{
        width:100%;
        max-width:100%;
        height:100%;
        max-height: calc(100% - 32px);
        white-space: pre-wrap;
        overflow-y:auto;

          button{
            border:0;
            background:none;
        }
      }

      .pdf{
        position:relative;
        width:100%;
        height:100%;
        max-height: calc(100% - 32px);

        .VuePdfApp{
          max-width: 100%;
          max-height: 100%;
          width: 100%;
          height: calc(100%);
        }
      }

      .vue-load-image{
        width:100%;
        max-width:100%;
        height:100%;
        max-height: calc(100% - 32px);
        white-space: pre-wrap;
        overflow-y:auto;

          img {
          position:relative;
          max-width: 100%;
          max-height: calc(100% - 10px);
          width: 100%;
          height: calc(100%);
          object-fit: contain;
        }  
      }

      .drag-container-1 {
        width: 100%;
        height: 30px;
        text-align: center;
        cursor: pointer;
        z-index:2!important;
      }

      .drag-container-1{
        border-top:1px solid var(--border-primary);
      }

    }

    #rb{
      max-height:80px;
      max-width:80px;
      position:absolute;
      left: 50%;
      transform: translate(-50%, 8px);
    }

    #rt{
      max-height:80px;
      max-width:80px;
      position:absolute;
      left: 50%;
      transform: translate(-50%, -14px);
    }

    #rl{
      max-height:80px;
      max-width:80px;
      position:absolute;
      top: 50%;
      transform: translate(-14px, -50%);
    }

    #rr{
      max-height:80px;
      max-width:80px;
      position:absolute;
      top: 50%;
      transform: translate(8px, -50%);
    }
  }
}


.txt{
  height: calc(100% - 57px);
  div{
   height:100%;
    .tiptap{
      margin:25px;
      height:100%;
      overflow-y:scroll;
      p{
        margin:0;
        white-space:pre-wrap;
      }
    }
  }
}

.pdf-app.dark {
  --pdf-toolbar-color: black;
  --pdf-app-background-color:black;
  --pdf-loading-bar-color:rgba(194, 194, 73, 0.973);
}
.pdf-app.light {
  --pdf-toolbar-color: white;
}

.uploader{
  label{
    input::file-selector-button {
    text-rendering: initial;
    font-family: "ＭＳ Ｐゴシック";
    font-weight:400;
    color: var(--text-primary);
    text-decoration: none;
            border:0;
    background: var(--background-primary);
  }
}
}
