@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: local($font-file+'.ttf');
  }
}
@include font('ＭＳ Ｐゴシック', 'MSGOTHIC');
@import "./ThemeModes";
$compWidth: 590px;

#app{
  min-height:100dvh;
  min-width: 100dvw;
  position: fixed;
  margin:0!important;
  padding:0;
  overscroll-behavior: none!important;
  text-align:left!important;
}
.index{
  max-height:100dvh;
  max-width: 100dvw;
  position: fixed;
  margin:0;
  padding:0;
}
nav{
  max-width:400px;
}
#app{
  background-color: var(--background-primary);
  color-scheme: var(--color-scheme);
}
*::-webkit-scrollbar-track {
  background:  var(--background-primary)!important;        /* color of the tracking area */
  border:1px solid var(--border-primary);
}
*::-webkit-scrollbar {
  width: 13px;
  height: 13px;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(132, 132, 147, 0.38);
  //border:1px solid lightgreen;
}
*::-webkit-scrollbar-track-piece {
  //border:1px solid lightyellow;
}
body{
  margin:0px;
}

a:link {
  color:  var(--link)
}
a:visited {
  color:  var(--link-visited)
}
* {
  font-family: "ＭＳ Ｐゴシック";
  font-weight: 1!important;
  text-decoration:none;
  color: var(--text-primary);
}

canvas{
  overflow:scroll;
  min-width:100%;
  max-width:100%;
  width:100%;
  border: 1px solid var(--border-primary);

}
.home {
    width: 100vw;
    border: 1px solid var(--border-primary);
}

.content {
  border: 1px solid var(--border-primary);
  float: left; /* add this */
}
.logout-button{
  align-items:right;
}


