@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: local($font-file+'.ttf');
  }
}
@include font('ＭＳ Ｐゴシック', 'MSGOTHIC');
@import "./ThemeModes";
$compWidth: 590px;

#app{
  min-height:100vh;
  min-width: 100vw;
  overflow:hidden;
}
#app{
  background-color: var(--background-primary);
  color-scheme: var(--color-scheme);
}

body{
  margin:0px;
}

a:link {
  color:  var(--link)
}
a:visited {
  color:  var(--link-visited)
}
* {
  font-family: "ＭＳ Ｐゴシック";
  font-weight: 1!important;
  text-decoration:none;
  color: var(--text-primary);
}
.lg{
  display:auto;
}
.sm{
  display:auto;
  width: auto;
  min-height:100%;

}
canvas{
  overflow:scroll;
  min-width:100%;
  max-width:100%;
  width:100%;
  border: 1px solid var(--border-primary);

}
.smSub{
  float: left;
  width:50%;
}
.home {
    width: 100vw;
    border: 1px solid var(--border-primary);
}
.data {
  min-width:375px;
  width:49vw;
  max-width:$compWidth;
    float:left; /* add this */
  margin-right:5px;
}
.content {
  border: 1px solid var(--border-primary);
  float: left; /* add this */
}
@media screen and (max-width: 800px) {

.data {
  padding-bottom:20px;
  width:100%;
  float:left; /* add this */
  max-width:100%;
}
.xl\:col-4 {
    width:33%;
  }
  .content {

  max-width:100vw;
   width:100%;
    float: left; /* add this */
  }
}
