@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: local($font-file+'.ttf');
  }
}
@include font('ＭＳ Ｐゴシック', 'MSGOTHIC');
@import "./ThemeModes";
$compWidth: 590px;
.p-button-icon-only{
  background:none;
  border: $tableBorder;
}
#app{
  min-height:100dvh;
  min-width: 100dvw;
  position: fixed;
  margin:0;
  padding:0;
  text-align:left;
  background-color: var(--background-primary);
  color-scheme: var(--color-scheme);
  -webkit-text-size-adjust: 100%;
}
.index{
  max-height:100dvh;
  max-width: 100dvw;
  position: fixed;
  margin:0;
  padding:0;
}
body{
  margin:0px;
}
canvas{
  overflow:scroll;
  min-width:100%;
  max-width:100%;
  border: 1px solid var(--border-primary);
}
* {
  font-family: "ＭＳ Ｐゴシック";
  font-weight: 1;
  text-decoration:none;
  color: var(--text-primary);
}
*::-webkit-scrollbar-track {
  background:  var(--background-primary);
  border:1px solid var(--border-primary);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(132, 132, 147, 0.38);
}
a:link {
  color:  var(--link)
}
a:visited {
  color:  var(--link-visited)
}
.tableCard{
  overflow: scroll;
}
 @media screen and (min-width:320px) and (max-width:767px){ 
  .standalone{
      padding-top: 43px!important;
  }
}
