@import "./ThemeModes";
$tableBorder: 1px solid var(--border-primary);
$dropDownBorder: 3px solid var(--border-primary);

$cardBorder: 1px solid var(--border-card);


$navH:33px;
$devH:100dvh;
$devW:100dvw;

$iosTop: env(safe-area-inset-top, 0px);
$border: 21px;

html {
  animation-duration: 0s!important;
}

html, body {
  margin:0;
  overscroll-behavior: none;
  overflow: hidden;
  background-color: var(--background-primary);
  #app {
    overflow:hidden;
    padding-top:$iosTop;
    width: calc( #{$devW}); 
    height: calc(#{$devH} - #{$iosTop});
      nav{
        background-color: var(--background-primary);
        width:calc(100% - var(--size-margin));
        max-width:calc(100% - var(--size-margin));
        margin: var(--box-margin);
        outline: $tableBorder;
          height: auto;
        overflow-y:hidden;
        display: block; 

        .toggles{
          height:16px;
          border-bottom:1px solid var(--border-primary);
          display:flex;
          a {
            color: var(--input-color)
          }
          a:link {
            color:  var(--link)
          }
          a:visited {
           color:  var(--link)
          }
          .navItem{
            text-align: center;
            font-size:14px;
            flex-grow: 1;
            padding-right:1px;
            padding-left:1px;
            border-right:1px solid var(--border-primary);
          }
          .navItem:last-child{
            border-right:0;
          }
        }
        
        
        .filters{
          display:flex;
          width:100%;
          height:16px;
          select {
             -webkit-appearance: none;
 -moz-appearance: none;
 appearance: none;
            overflow:hidden;
            flex-grow: 1;
            font-size:14px;
            background-color: var(--background-primary);
            border: 0;
            outline-style: none;
            box-shadow: none;
            height:calc($navH);
            -webkit-border-radius:0px;
            color: var(--input-color)
          }
          select option:checked {
            background-color: #d6d006 !important; /* for IE */
          }
          input {
            max-width:33%;
            font-size:14px;
            flex-grow:1;
            border:0;
            background-color: rgba(0,0,0,0);
            outline:0;
          }
          .navItem{
            width:33%;
            max-width:33%;
            flex-grow:1;
            padding-right:1px;
            padding-left:1px;
            border-right:1px solid var(--border-primary);
          }
        }
      }

      .loading {
        a {
        color:  var(--link);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);   
        }
      }
      .contentMain {
        position:absolute;
        width:100%;
        height:100%;

        .data_pane{
          height:calc(100% - 261px - (var(--box-margin) * 4)
        }
      }
      a:link {
        color:  var(--link)
      }
      a:visited {
        color:  var(--link-visited)
      }
    }
}

:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
}


.ios1{
  margin-left:1px!important;
  margin-left:39px!important;
  width: calc(#{$devW} - 42px)!important;
  border-bottom-left-radius: 0pt!important;
  border-bottom-right-radius: 34pt!important;
}
.ios2{
  margin-left:1px!important;
  margin-right:39px!important;
  width: calc(#{$devW} - 42px)!important;
  border-bottom-left-radius: 34pt!important;
  border-bottom-right-radius: 0pt!important;
}
.ios3{
  margin-left:1px!important;
  width: calc(#{$devW} - 4px)!important;
  border-bottom-left-radius: 34pt!important;
  border-bottom-right-radius: 34pt!important;
}
.ios4{
  margin-left:1px!important;
  margin-right:1px!important;
  width: calc(#{$devW} - 4px)!important;
  border-bottom-left-radius: 0pt!important;
  border-bottom-right-radius: 0pt!important;
}
