@import "./ThemeModes";
$tableBorder: 1px solid var(--border-primary);
$dropDownBorder: 3px solid var(--border-primary);


$navH:40px;
$devH:100dvh;
$devW:100dvw;

$iosTop: env(safe-area-inset-top, 0px);
$border: 21px;

html {
  min-height:100dvh;
  animation-duration: 0s!important;
}

html, body {
  margin:0;
  overscroll-behavior: none;
  overflow: hidden;
  background-color: var(--background-primary);
  #app {
    overflow:hidden;
    padding-top:$iosTop;
    width: unquote("calc( #{$devW} - 4px )"); 
    height:unquote("calc(#{$devH} - #{$iosTop} - 3px)");
    margin-left:1px;
    margin-right:0px;
    border-bottom: 1px solid var(--border-secondary);
    border-right: 1px solid var(--border-secondary);
    border-left: 1px solid var(--border-secondary);
    border-top: 1px solid var(--border-secondary);
    position: relative;
      nav{
        background-color: var(--background-primary);
        position: relative;
        width:calc(100% - 1px);
        height:$navH;
        padding-left:1px;
        overflow-y:hidden;
        display: block; 

        .toggles{
          border-bottom:1px solid var(--border-primary);
          border-right:1px solid var(--border-primary);
          display:flex;
          a {
            color:  var(--link)
          }
          a:link {
            color:  var(--link)
          }
          a:visited {
           color:  var(--link)
          }
          .navItem{
            text-align: center;
            font-size:16pt;
            flex-grow: 1;
            padding-right:1px;
            padding-left:1px;
            border-right:1px solid var(--border-primary);
          }
        }
        
        .filters{
            border-right:1px solid var(--border-primary);
          display:flex;
          select {
            background-color: var(--background-primary);
            border: 0;
            outline-style: none;
            box-shadow: none;
            height:calc($navH);
            -webkit-border-radius:0px;
            color: var(--input-color)
          }
          select option:checked {
            background-color: #d6d006 !important; /* for IE */
          }
          input {
            flex-grow:1;
            border:0;
            background-color: rgba(0,0,0,0);
            min-width:20px;
            outline:0;
          }
          .navItem{
            padding-right:1px;
            padding-left:1px;
            border-right:1px solid var(--border-primary);
          }
        }
      }

      .loading {
        a {
        color:  var(--link);
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%);   
        }
      }
      .contentMain {
        position:absolute;
        width:100%;
        height:100%;
      }
      a:link {
        color:  var(--link)
      }
      a:visited {
        color:  var(--link-visited)
      }
    }
}

:root {
    --sat: env(safe-area-inset-top);
    --sar: env(safe-area-inset-right);
    --sab: env(safe-area-inset-bottom);
    --sal: env(safe-area-inset-left);
}


.ios1{
  margin-left:1px!important;
  margin-left:39px!important;
  width: calc(#{$devW} - 42px)!important;
  border-bottom-left-radius: 0pt!important;
  border-bottom-right-radius: 34pt!important;
}
.ios2{
  margin-left:1px!important;
  margin-right:39px!important;
  width: calc(#{$devW} - 42px)!important;
  border-bottom-left-radius: 34pt!important;
  border-bottom-right-radius: 0pt!important;
}
.ios3{
  margin-left:1px!important;
  width: calc(#{$devW} - 4px)!important;
  border-bottom-left-radius: 34pt!important;
  border-bottom-right-radius: 34pt!important;
}
.ios4{
  margin-left:1px!important;
  margin-right:1px!important;
  width: calc(#{$devW} - 4px)!important;
  border-bottom-left-radius: 0pt!important;
  border-bottom-right-radius: 0pt!important;
}
