@import "./ThemeModes";

@keyframes example {
  from {opacity: 0;}
  to {opacity: 1;}
}
.mixtape-pane{
    outline: $tableBorder;
    height:calc(100% - var(--size-margin));
    max-width:calc(100% - var(--size-margin));
    margin: var(--box-margin);
    margin-top: 0px;

  .mixtapeView{
    height:calc(100%);
    width:calc(100%);

    .p-dataview{
      height:calc(100%);
      width:100%;

      .p-dataview-content{
        height:100%;
        width:100%;

        .grid{

          width:100%;
          max-height:calc(100% );
          overflow-y:auto;
          overflow-x:hidden;

          .dgb-0:last-child{
            margin-bottom:40px;
          }
          .dgb-0{
            position: relative;
            background: rgba(255, 255, 255, 0.05);
            backdrop-filter: blur(5px);
            cursor: pointer;
            height:36px;
            overflow:hidden;
            border-bottom: $tableBorder;
            width:100%;
            min-width:90px;
            margin:0;
            white-space: nowrap;

            .dgb-0-txt{
              cursor: pointer;
              width:100%;
              padding:0;
              margin: 0;
              border:0;
              user-select: none;
              background:none;
              .descr{
                color:var(--text-descr);
                font-size:12px;
              }

              a{
                color:var(--text-header);
                font-size:16px;
                text-align:left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
          }
        }
      }
    }
  }
}

.p-component, .p-component * {
    box-sizing: border-box;
}
.header{
  border-bottom: $tableBorder;
}
.grid {
    display: flex;
    flex-wrap: wrap;

    margin-right: -0.5rem;
    margin-left: -0.5rem;
    margin-top: -0.5rem;
}
.grid-nogutter {
    margin-right: 0;
    margin-left: 0;
    margin-top: 0;
}
