@import "./ThemeModes";
// content pane
.splitpanes.default-theme .splitpanes__pane{
    background-color: rgba(0,0,0,0);
}
// middle segment
.splitpanes.default-theme .splitpanes__splitter:before{
    content: "";
    height:20px;
    width:20px;
    border:1px solid var(--splitter-box);
    background-color: rgba(0,0,0,0);
    z-index: 1;
}
.default-theme.splitpanes--vertical>.splitpanes__splitter:before, .default-theme .splitpanes--vertical>.splitpanes__splitter:before{
  margin-left:-10px;
}

.default-theme.splitpanes--horizontal>.splitpanes__splitter:before, .default-theme .splitpanes--horizontal>.splitpanes__splitter:before{
  margin-top:-10px;
}
// slider section
.splitpanes.default-theme .splitpanes__splitter {
    background-color: rgba(0,0,0,0);
    border-left: 1px dotted var(--border-primary);
    border-right: 1px dotted var(--border-primary);
    border-top: 0px dotted var(--border-primary);
}
.default-theme.splitpanes--horizontal>.splitpanes__splitter, .default-theme .splitpanes--horizontal>.splitpanes__splitter {
    height: 7px;
    border-top: 1px dotted var(--border-primary);
    border-right: 0px dotted var(--border-primary);
    border-left: 0px dotted var(--border-primary);
    margin-top: -1px;
}
.splitpanes {
  overflow:none;
  max-height:100%;
}
.data_pane{
  max-height:calc(100% - 85px)
}
pane{
        width:100%;
}
