@import "./ThemeModes";

.tableCard{

    border-top: 1px dotted var(--border-primary);
  height:100%;
  input{
    max-width:25px;
  }
	table {
    td {
      text-overflow: ellipsis;
      a{
        color: var(--link-visited)
      }
    }
	}
	th {

    border-bottom: $tableBorder;
	}
	td {
    border-right: $tableBorder;
    border-bottom: $tableBorder;
	}
  .tableCard td a{
    max-width:10px;
    width:10px;
    min-width:10px;
  }
  tfoot th {
    font-weight: normal;
  }
  .p-column-filter-row .p-column-filter-element{
    flex-basis: initial;
    flex-grow: 0;
    flex-shrink:0;
  }
  .p-dropdown-panel{
    outline: $dropDownBorder;
  }
  .p-paginator {
    display: block;
  }
  .p-column-title{
    font-weight: 400!important;
  }
  .p-column-filter-menu-button, .p-column-filter-clear-button {
    padding: 0px;
  }
  .p-datatable-header {
    user-select: none;
  }

  .p-datatable-header{
  }
}
.p-multiselect-panel{
    outline: $dropDownBorder;
}
.p-button-icon-only{
  background:none;
}
.p-multiselect-label{
}
