@import "./ThemeModes";

$gridWidth: 200px;
$tableBorder: 1px solid var(--border-primary);
$dropDownBorder: 3px solid var(--border-primary);
$color: white;
.tableCard{
	border-top: $tableBorder!important;
	border-left: $tableBorder!important;

	table {
		border-top: $tableBorder!important;
	}
	th {
		border-bottom: $tableBorder!important;
		border-right: $tableBorder!important;
	}
	td {
		border-bottom: $tableBorder!important;
		border-right: $tableBorder!important;
	}
	tfoot th {
		font-weight: normal!important;
	}
	.p-column-filter-row .p-column-filter-element{
		flex-basis: initial!important;
		flex-grow: 0!important;
		flex-shrink:0!important;
		width: auto!important;
	}
	.p-dropdown-panel{
		border: $dropDownBorder!important;
	}
	.p-column-filter-row-items{
		border: $dropDownBorder!important;
	}
	.p-paginator {
		display: block!important;;
	}
	.p-column-filter-row {
		align-items:stretch!important;
		text-align: left!important;
    border-collapse: collapse!important;
	}
	.p-column-filter-menu-button, .p-column-filter-clear-button {
		padding: 0px!important;;
	}
	.p-datatable-header {
		border-right: $tableBorder;
		user-select: none!important;
	}
	.p-paginator-bottom{
		border-right: $tableBorder;
		border-bottom: $tableBorder;
	}
	.p-datatable-header{
		border-top: $tableBorder;
	}

}
.p-multiselect-panel{
    border: $dropDownBorder!important;
    background-color: $color!important;
}
input{
  max-width:25px;
}
.p-button-icon-only{
  background:none;
  border: $tableBorder;
}
button{

}
$offset: 200px;

.lg{
.p-datatable-resizable {
  max-height:calc(70vh - 80px)!important;
  height:70vh!important;
  .p-datatable-wrapper{

  max-height:calc(70vh - 80px)!important;
  height:70vh!important;
  }
}
}
.sm{
.p-datatable-resizable {
  max-height:calc(30vh - 80px)!important;
  height:23vh!important;
  .p-datatable-wrapper{

  max-height:calc(30vh - 80px)!important;
  height:30vh!important;
  }
}
}

@media screen and (max-width: 800px) {
.lg{
.p-datatable-resizable {
  max-height:calc(50vh - 80px)!important;
  height:50vh!important;
  .p-datatable-wrapper{

  max-height:calc(50vh - 80px)!important;
  height:50vh!important;
  }
}
}
.sm{
.p-datatable-resizable {
  max-height:calc(25vh - 80px)!important;
  height:25vh!important;
  .p-datatable-wrapper{

  max-height:calc(25vh - 80px)!important;
  height:25vh!important;
  }
}
}
}

