.theme-dark {
  --background-primary: #000;
  --link: rgba(194, 194, 73, 0.973);
  --link-visited: #aae574;
  --text-primary: #dfdfdfd3;
  --text-descr: rgba(223, 223, 223, 0.7);
  --color-scheme: dark;
  --border-primary: #676776;
  --border-secondary: #696967;
  --splitter-box: lightyellow;
  --input-color: rgba(223, 223, 223, 0.5);
}
.theme-light {
  --background-primary: rgb(255, 255, 255);
  --link: #000;
  --link-visited: #000;
  --text-primary: #000;
  --text-descr: rgba(3, 3, 3, 0.7);
  --text-secondary: #516076;
  --color-scheme: light;
  --border-primary: #535353;
  --border-secondary: #000;
  --input-color: rgba(023, 023, 023, 0.5);
  --splitter-box: purple;
}
