.theme-dark {
  --background-primary: #000;
  --link: rgba(194, 194, 73, 0.973);
  --link-visited: #aae574;
  --text-primary: #dfdfdfd3;
  --color-scheme: dark;
  --border-primary: #848493;
  --border-secondary: #898997;
  --splitter-box: lightyellow;
}
.theme-light {
  --background-primary: rgb(255, 255, 255);
  --link: green;
  --link-visited: brown;
  --text-primary: #000;
  --text-secondary: #718096;
  --color-scheme: light;
  --border-primary: #737373;
  --border-secondary: #000;

  --splitter-box: purple;
}
