@import "./ThemeModes";
*{
  -webkit-text-size-adjust: none;
}
*::-webkit-scrollbar-track {
  border:1px solid var(--border-primary);
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(132, 132, 147, 0.38);

}
*::-webkit-scrollbar {
  background-color: var(--background-primary); 

}
