@import "./Theme";

html, body{
  width:100%;
  height:100%;
  overflow:hidden;
  margin:0;
}

.contentMain {
  position:absolute;
  height: calc(100% - 1px);
  width: calc(100% - 1px);

  #main-l{
    position: relative;
    display: flex;
    flex-flow: column;
    height: calc(100%);
  }
}

.input-standard {
  border:0;
  outline:0;
  background-color: rgba(0,0,0,0);
  width:100%;
}

.input-standard::placeholder {
  color: var(--text-data-title);
  opacity: 0.51;
}

// Text Colors
.text-main-0{
  color: var(--text-data-title);
}

.text-main-1{
  color: var(--text-data-descr);
}

.text-content-0{
  color: var(--text-content-descr);
}
.overlay-blur{
    background: var(--background-lightbox);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(1px);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 50;
  .overlay-expand{

  }
}
.os-scrollbar-horizontal{
  display:none;
}



// Global Variables
$tableBorder: 1px solid var(--border-primary);
$cardBorder: 1px solid var(--border-card);
$dropDownBorder: 3px solid var(--border-primary);

$navH:33px;
$devH:100dvh;
$devW:100dvw;

$fg-height: 95px;
$tableBorder: 1px solid var(--border-primary);
$cardBorder: 1px solid var(--border-card);
$dropDownBorder: 3px solid var(--border-primary);



// CUSTOM IOS/SAFARI NOTCH SIZING
$iosTop: env(safe-area-inset-top, 0px);
:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}
.ios1{
  margin-left:1px!important;
  margin-left:39px!important;
  width: calc(#{$devW} - 42px)!important;
  border-bottom-left-radius: 0pt!important;
  border-bottom-right-radius: 34pt!important;
}
.ios2{
  margin-left:1px!important;
  margin-right:39px!important;
  width: calc(#{$devW} - 42px)!important;
  border-bottom-left-radius: 34pt!important;
  border-bottom-right-radius: 0pt!important;
}
.ios3{
  margin-left:1px!important;
  width: calc(#{$devW} - 4px)!important;
  border-bottom-left-radius: 34pt!important;
  border-bottom-right-radius: 34pt!important;
}
.ios4{
  margin-left:1px!important;
  margin-right:1px!important;
  width: calc(#{$devW} - 4px)!important;
  border-bottom-left-radius: 0pt!important;
  border-bottom-right-radius: 0pt!important;
}





