@import "./Theme";

html, body{
  width:100%;
  height:100%;
  overflow:hidden;
  margin:0;
}

.contentMain {
  position:absolute;
  width:100%;
  height:100%;

  #main-l{
    display: flex;
    flex-flow: column;
    height: calc(100% - 4px);
  }
}

.input-standard {
  font-size:16px;
  border:0;
  outline:0;
  background-color: rgba(0,0,0,0);
  width:100%;
}

.input-standard::placeholder {
  color: var(--text-header);
  opacity: 0.51;
}

// Text Colors
.text-main-0{
  color: var(--text-data-title);
}

.text-main-1{
  color: var(--text-data-descr);
}

.text-content-0{
  color: var(--text-content-descr);
}

// Global Variables
$tableBorder: 1px solid var(--border-primary);
$cardBorder: 1px solid var(--border-card);
$dropDownBorder: 3px solid var(--border-primary);




