.theme-dark {
  --edge-margin: 2px;
  --color-scheme: dark;
  --background-primary: #101010;
  --background-tilt: #101010;
  --background-lightbox: rgba(0, 0, 0, 0.7);

  --text-header: #fe7761;
  --text-data-title: #f8ceff;
  --text-data-descr: #DAC181;
  --text-content: rgba(255, 255, 255, 0.86);
  --text-content-descr: rgba(255, 255, 255, 0.6);

  --border-primary: #3f3f3f;
  --border-card: #3f3f3f8a;
  --border-mix: #57576088;
  --border-secondary: #696967;

  --scrollbar: #9eff2299;
  --size-margin: 8px;
  --box-margin: 4px;
  .cgb-0{
    .vue-load-image{
      .thumbnail{
        filter: brightness(.85) contrast(1);
      }
    }
  }
}

.theme-light {
  .tab-icon {
    height: calc(100% - 4px);
    width: 100%;
    filter: saturate(1.5) hue-rotate(327deg);
  }

  --edge-margin: 2px;
  --color-scheme: light;
  --background-primary: rgb(230, 230, 230);
  --background-tilt: rgba(230, 230, 230);
  --background-lightbox: rgba(230, 230, 230, 0.7);

  --link: #000;
  --link-visited: #000;
  --text-primary: #000;
  --text-descr: rgba(3, 3, 3, 0.7);
  --text-secondary: #516076;
  --border-primary: #535353;
  --border-secondary: #000;
  --border-card: #535353;
  --border-mix: #535353;

  --scrollbar: #53535375;
  --size-margin: 8px;
  --box-margin: 4px;
}

.text-main-0{
  color: var(--text-data-title);
}
.text-main-1{
  color: var(--text-data-descr);
}

$navH:33px;
$devH:100dvh;
$devW:100dvw;

$tableBorder: 1px solid var(--border-primary);
$cardBorder: 1px solid var(--border-card);
$dropDownBorder: 3px solid var(--border-primary);




















// CUSTOM IOS/SAFARI NOTCH SIZING
$iosTop: env(safe-area-inset-top, 0px);
:root {
  --sat: env(safe-area-inset-top);
  --sar: env(safe-area-inset-right);
  --sab: env(safe-area-inset-bottom);
  --sal: env(safe-area-inset-left);
}
.ios1{
  margin-left:1px!important;
  margin-left:39px!important;
  width: calc(#{$devW} - 42px)!important;
  border-bottom-left-radius: 0pt!important;
  border-bottom-right-radius: 34pt!important;
}
.ios2{
  margin-left:1px!important;
  margin-right:39px!important;
  width: calc(#{$devW} - 42px)!important;
  border-bottom-left-radius: 34pt!important;
  border-bottom-right-radius: 0pt!important;
}
.ios3{
  margin-left:1px!important;
  width: calc(#{$devW} - 4px)!important;
  border-bottom-left-radius: 34pt!important;
  border-bottom-right-radius: 34pt!important;
}
.ios4{
  margin-left:1px!important;
  margin-right:1px!important;
  width: calc(#{$devW} - 4px)!important;
  border-bottom-left-radius: 0pt!important;
  border-bottom-right-radius: 0pt!important;
}

