.default-theme{
  background-color: var(--background-primary)!important;
}

.theme-dark {
  --base-spacing: 2px;
  --edge-margin: 2px;
  --color-scheme: dark;
  --background-primary: #111111;
  --background-tilt: #111111;
  --background-lightbox: rgba(0, 0, 0, 0.7);

  --text-header: #fe7761;
  --text-data-title: #ffc83d;
  --text-data-descr: #DAC181;
  --text-content: rgba(255, 255, 255, 0.86);
  --text-content-descr: rgba(255, 255, 255, 0.6);
  --text-login:#8a8a8a;
  --text-tab-header: #3893ff;

  --tab-nav-icon:#886c27;
  --tab-media-icon:#2f75c9;;

  --border-primary: #3f3f3f;
  --border-card: #3f3f3fb5;
  --border-mix: #57576088;
  --border-secondary: #696967;
  --border-overlay: #9b8845;

  --scrollbar: #9eff2299;
  --size-margin: 8px;
  --box-margin: 4px;
  --tree-arrow: #ff668c;

  .tab-icon {
    filter: saturate(1.5) hue-rotate(168deg) !important;
  }
  .mix-feed-icon {
    filter: saturate(1) hue-rotate(245deg);
  }
}

.theme-light {
  --edge-margin: 2px;
  --color-scheme: light;
  --background-primary: #f5f5f5;
  --background-tilt: #f5f5f5;
  --background-lightbox: rgba(230, 230, 230, 0.7);

  --link: #000;
  --link-visited: #000;

  --text-header: #fe7761;
  --text-primary: #000;
  --text-descr: rgba(3, 3, 3, 0.7);
  --text-secondary: #516076;
  --text-login:#757575;

  --border-primary: #535353;
  --border-secondary: #000;
  --border-card: #535353;
  --border-mix: #535353;
  --border-overlay: #9b8845;

  --tab-nav-icon:#886c27;
  --tab-media-icon:#bf603e;

  --scrollbar: #b100d3;
  --size-margin: 8px;
  --box-margin: 4px;
  --tree-arrow: #b100d3;

  .tab-icon {
    filter: saturate(1.5) hue-rotate(327deg);
  }
  .mix-feed-icon {
    filter: saturate(1) hue-rotate(213deg);
  }
}


// Text Colors
.text-main-0{
  color: var(--text-data-title);
}
.text-main-1{
  color: var(--text-data-descr);
}
.text-content-0{
  color: var(--text-content-descr);
}

.mtl-ml{
  color: var(--text-data-title);
}
svg{
  fill: var(--tree-arrow);
}

.tree-line {
    background-color: var(--tree-arrow) !important;
}
