* {
  text-rendering: initial;
  font-family: "ＭＳ Ｐゴシック" !important;
  font-weight:10;
  color: var(--text-content);
  text-decoration: none;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  -webkit-print-color-adjust: exact;

    font-smooth: never;
}

.font-s-title {
  font-size:18px;
  line-height:18px;
}
.font-s-descr {
  font-size:14px
}
.input-standard{
  font-size:18px;
}
.cgb-0, .cgb-0-info {
  font-size:13px;

}
.current-dir{
  font-size:18px;
  line-height:18px;
}

@media screen and (max-width: 400px), screen and (max-height: 400px) {
  .font-s-title {
    font-size:15px;
    line-height:15px;
  }
  .font-s-descr {
    font-size:11px;
  }
  .input-standard{
    font-size:13px;
  }
  .cgb-0, .cgb-0-info {
    font-size:10px;
  }
  .current-dir{
    font-size:15px;
    line-height:15px;
  }
  .contentMain {
    border-top:0.00001px solid #363638;
  }
}

@media screen and (height: 762px) {
  .contentMain {
    height: calc(100% - 17px)
  }
}
