@import "./Theme";

*{
  -webkit-text-size-adjust: 100%;
}
*::-webkit-scrollbar-track {
  max-width:var(--box-margin);
  border-left: $tableBorder;
  border-top: $tableBorder;
  border-bottom: $tableBorder;
}
*::-webkit-scrollbar-thumb {
  border-top: $tableBorder;
  border-bottom: $tableBorder;
  background-color: var(--scrollbar);
  background-clip: content-box;
  border-left: $tableBorder;

}
*::-webkit-scrollbar {
  max-width:var(--box-margin)!important;
  background-color: var(--background-primary);
}
